
.ui-dialog{
    overflow: visible;
}

.dialogStyle{
    border: 2px solid #a1a1a1;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
}


.dialogLabel{
    font-size: larger;
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    color: #275F61;
    font-family: '-webkit-pictograph';
}

.dialogInput{
    float: right;
    font-size: 17px;
    margin-right: 20px;
    width: 160px;
}

.easy-autocomplete-container li{
    margin-left: 0px;
}


.chooseDiv{
    border: solid 1px darkgray;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #888888;
    padding: 10px;
    margin-bottom: 10px;
}

.chooseTypeDropdownA{
    border-radius: 5px;
    width: 160px;
}

.chooseTypeDropdownUl{
    min-width: 0px;
    text-align: center;
    position: absolute;
}

.chooseTypeDropdownList{
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
}

.autocompleteInput{
    height: 35px;
}

.ui-autocomplete a:hover {
    color: #49CC9E;
}