:root {
  --background-color: #2a2f3a; /* Gunmetal base */
  --background-light-color: #3a3f4a; /* Slightly lighter for contrast */
  --box-shadow-color: #5c5766; /* Soft shadow with subtle depth */
  --text-color: #ffffff; /* High contrast text */
  --link-color: #9c8ebf; /* Soft lavender for links */
  --link-hover-color: #c1b2df; /* Lighter on hover */
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: opacity 0.5s linear, transform 0.5s linear;
}

/* .section-bottom-border {
  border-bottom-left-radius: 130px 60px;
  border-bottom-right-radius: 130px 60px;
}

.section-top-border {
  border-top-left-radius: 130px 60px;
  border-top-right-radius: 130px 60px;
} */

.subsection {
  padding: 1rem;
  border-radius: 12px;
  color: var(--text-color) !important;
  background-color: var(--background-light-color) !important;
  box-shadow: var(--box-shadow-color) 0px 1px 4px;
}

/* Intro */

.introTab {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.8rem;
  gap: 1.8rem;
  animation: slideInLeft 0.8s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
  opacity: 0;
}

.introTabItem {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--text-color);
  text-decoration: none;
  flex-direction: row;
  transition: color 0.6s cubic-bezier(0.28, 0.84, 0.42, 1);
}

.introTabItem:hover {
  color: var(--link-hover-color);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.icon-row-bounce {
  bottom: 58px;
  animation: drop 1.2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icon-social-media {
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.icon-social-media:hover {
  transform: scale(1.2);
  transition: transform 0.2s cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes drop {
  0% {
    bottom: 180px;
    opacity: 0;
  }
  100% {
    bottom: 58px;
    opacity: 1;
  }
}

/* Work Experience */
.experienceContainer {
  display: flex;
  gap: 2vw;
  padding: 2vw;
  flex-direction: row;
}
.timeline-container {
  flex: 0 0 60%;
  max-width: 550px;
}
.timeline-item {
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.5s;
}
.work-experience-description {
  flex: 0 0 40%;
  min-width: 350px;
  max-width: 450px;
  max-height: 400px;
}
