<header class="header">
    <div class="container"> 
        <div class="row">       
            <img class="pull-left" src="assets/images/profile.png" width="150px" height="150px" style="margin: 20px;" alt="Xenakis Nikolaos"/>
            <div class="profile-content pull-left">
                <h1 class="name">Xenakis Nikolaos</h1>
                <h2 class="desc">Software Engineer</h2>   
                <ul class="social list-inline">
 <!--                     <li><a href={{twitterPage}}><i class="fa fa-twitter"></i></a></li>
 -->                <li><a href={{linkedinPage}}><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/nikosxenakis"><i class="fa fa-github"></i></a></li>
                    <!-- <li><a href={{facebookPage}}><i class="fa fa-facebook"></i></a></li> -->
                    <li class="last-item"><a href={{instagramPage}}><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">Summary</h2>
                    <div class="content">
                        <p>Passion and devotion describe the way I work. I constantly research new products and methods for my projects to be efficient and reliable. Experienced in designing, developing and testing software.</p>
                    </div><!--//content-->
                    <a class="btn btn-cta-secondary" href={{CVLink}}>resume</a>
                </div><!--//section-inner-->
            </section><!--//section-->
            
            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title">Development Engineer
                                <span class="place"><a href="http://www.seebyte.com/}">SeeByte</a></span> <span class="year">(Sept 2019 – present)</span>
                            </h3>
                            <p>Developing (full-stack) applications for SeeByte<br>Technologies: Java, C#, .NET, NSIS, WIX Toolset, Netbeans platform, WPF.</p>
                        </div>
                        <div class="item">
                            <h3 class="title">Software Development Intern
                                <span class="place"><a href="http://wings-ict-solutions.eu/}">University of Edinburgh Information Services Group</a></span> <span class="year">(April 2019 – June 2019)</span>
                            </h3>
                        </div>
                        <div class="item">
                            <h3 class="title">External Software Developer
                                <span class="place"><a href="http://wings-ict-solutions.eu/}">Wings ICT Solutions</a></span> <span class="year">(Aug 2017 – Aug 2018)</span>
                            </h3>
                            <p>Working for Wings ICT Solutions in order to develop web services for National Bank of Greece<br>Requirements analysis, design and implementation of web API and interoperability between API and bank systems<br>Technologies: C#, ASP.NET, Angular.</p>
                        </div>
                        <div class="item">
                            <h3 class="title">Mandatory Military Service
                                <span class="place"><a href="">Greek Military</a></span> <span class="year">(Sep 2016 – June 2017)</span>
                            </h3>
                            <p>Completed my military service working in the operation center of Greek army<br>
                                Role: Providing technical support in the military information systems
                            </p>
                        </div>
                        <div class="item">
                            <h3 class="title">Undergraduate Teaching Assistant <span class="place"><a href="http://www.csd.uoc.gr">Computer Science Department, University of Crete</a></span> <span class="year">(Sep 2015 – Jan 2016)</span></h3>
                            <p>Part of the program "TheProfit" which allows to the best undergraduate students of the department to aid University’s academic work<br>Role: Undergraduate Teaching Assistant at "Introduction to Computer Science" course</p>
                        </div>
                        <div class="item">
                            <h3 class="title">Undergraduate Trainee <span class="place"><a href="https://www.forth.gr/">Foundation for Research and Technology - Hellas (FORTH)</a></span> <span class="year">(Jun 2015 – Aug 2015)</span></h3>
                            <p>Conducting Research in Big Data Systems using acceleration mechanisms<br>Tools: HDFS, MapReduce, HBase, Apache Phoenix, Spark, CUDA, OpenCL</p>
                        </div>
                    </div> 
                </div>              
            </section>
            
            <section class="education section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>Msc in High Performance Computing with Data Science (Sep 2018 – Aug 2019)
                                <a href="https://www.ed.ac.uk/studying/postgraduate/degrees/index.php?r=site/view&edition=2019&id=871" class="university">University of Edinburgh, Edinburgh (UK)</a>
                            </h3>
                            <ul>
                                <li>
                                    Grade: 75/100 (Distinction)
                                </li>
                                <li>
                                    Dissertation: Parallelisation of frame processing for Optical Coherence Tomography (85/100)
                                </li>
                                <li>
                                    Awards: Highly Skilled Workforce Scholarship, candidates must have the international equivalent of a UK first class or 2:1 Honours degree at undergraduate level
                                    <br>Nominated the best student award of the MSc program.
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>Bachelor in Computer Science (Sep 2012 – Jul 2016)
                                <a href="https://www.csd.uoc.gr/" class="university">University of Crete, Heraklion (Greece)</a>
                            </h3>
                            <ul>
                                <li>
                                    Grade: 8.4/10 
                                </li>
                                <li>
                                    Thesis: <a href={{iceEditor}}>ICE Editor</a> a visual programming language for end-user programmers for IOT devices
                                    <br><a href={{iceEditor}}>ICE Editor</a> is a web client application written in JavaScript.
                                </li>
                                <li>
                                    Awards: <strong>3 years</strong> in a row awarded with the <strong>Memorial Scholarship Stelios Orfanoudakis</strong>.
                                    <br>This scholarship is given to the top 3 students of the Computer Science department each year.
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>IT Essentials: PC Hardware and Software (Jun 2011 - Aug 2011)<a class="university">Cisco Network Academy, Chania (Greece)</a></h3>
                            <p>IT Essentials covers fundamental computer skills. It includes labs that provide practical experience using simulation tools</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Projects</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><a href="https://georgioupolis-taxi.firebaseapp.com/">Georgioupolis Transfers</a></h3>
                            <p class="summary">Website for booking transfer and tours in Crete, Greece<br>Tools: HTML, Angular 4, Typescript, LESS, Node-JS</p>
                        </div>

                        <div class="item">
                            <h3 class="title"><a href="https://github.com/nikosxenakis/ImagInLexis">ImagInLexis</a></h3>
                            <p class="summary">Application's main functionality is to enrich a speech therapy intervention plan through a number of tests that the child (patient) has to complete<br>Tools: Java, JavaFX</p>
                        </div>
                        <div class="item">
                            <h3 class="title"><a href={{iceEditor}}>ICE Editor</a></h3>
                            <p class="summary">A website application which allows an end-user to develop simple applets in IOT devices<br>It is an editor which prevents the user to have either compile or runtime (as possible) errors allowing to drop \& drop elements or edit values<br>It provides an abstract API to create your own program with JSON files<br>Tools: HTML, Javascript, Canvas.js framewrok</p>
                        </div>
                        <div class="item">
                            <h3 class="title"><a href="https://www.youtube.com/watch?v=DqQoP_M39lQ">1942</a></h3>
                            <p class="summary">User Interfaces and Games Development course project<br>The project is a redevelopment of 1942 is a popular classic retro video game built in 1984<br>Tools: C++, SDL</p>
                        </div>
                    </div>
                </div>
            </section>
            


        </div>
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-venus-mars"></i><span class="sr-only">Sex:</span>Male</li>
                            <!-- <li><i class="fa fa-birthday-cake"></i><span class="sr-only">Birthday:</span>18 April</li> -->
                            <li><i class="fa fa-flag"></i><span class="sr-only">Nationality:</span>Greek</li>
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Edinburgh, UK</li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">nikosxenakis94@gmail.com</a></li>
                            <!-- <li><i class="fa fa-skype"></i><span class="sr-only">Skype:</span>xenis656</li> -->
                        </ul>
                    </div><!--//content-->  
                </div><!--//section-inner-->
            </aside><!--//aside-->
            
            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro"></p>
                        
                        <div class="skillset">
                            <div class="item">
                                <h3 class="level-title">C, C++, Java<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Proficient</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <h3 class="level-title">Data Management (Python, MySQL)<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:90%;">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Web Technologies (HTML, CSS, Javascript, Typescript, PHP)<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:90%;">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            <p><a class="more-link" href="https://www.linkedin.com/in/nikosxenakis/"><i class="fa fa-external-link"></i> More on Linkedin</a></p> 
                        </div>              
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->
            
            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>Greek:</strong></span>
                                <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                            </li>
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>
                                <span class="level">Advanced Level <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container text-right">
            <small class="copyright">@Copyrights Xenakis Nikolaos</small>
    </div>
</footer>