<header class="header">
    <div class="container"> 
        <div class="row">       
            <img class="pull-left" src="assets/images/profile.png" alt="Xenakis Nikolaos"/>
            <div class="profile-content pull-left">
                <h1 class="name">Xenakis Nikolaos</h1>
                <h2 class="desc">Computer Scientist</h2>   
                <ul class="social list-inline">
                    <li><a href={{facebookPage}}><i class="fa fa-facebook"></i></a></li>                   
                    <li><a href={{twitterPage}}><i class="fa fa-twitter"></i></a></li>
                    <li><a href={{linkedinPage}}><i class="fa fa-linkedin"></i></a></li>
                    <li class="last-item"><a href={{instagramPage}}><i class="fa fa-instagram"></i></a></li>      
                </ul> 
            </div>
        </div>
    </div>
</header>

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">Summary</h2>
                    <div class="content">
                        <p>Passion and devotion are describing the way I work. I constantly research about new products and methods to be efficient and reliable to my projects. Experienced in designing, developing, implementing and testing software. Expert in dealing with multidimensional problems using efficient methods in order to optimize the result.</p>
                    </div><!--//content-->
                    <a class="btn btn-cta-secondary" href={{CVLink}}><i class="fa fa-download"></i> Download CV</a>
                </div><!--//section-inner-->
            </section><!--//section-->
            
            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
						<div class="content">
                        <div class="item">
                        <h3 class="title">External Software Developer <span class="place"><a href="#">Wings ICT Solutions</a></span> <span class="year">(Aug 2017 – Aug 2018)</span></h3>
                            <p>Working for Wings ICT Solutions in order to develop web services for National Bank of Greece<br>Requirements analysis, design and implementation of web API and interoperability between API and bank systems<br>Technologies: C#, ASP.NET, Angular 4.</p>
                        </div><!--//item-->
                    </div><!--//content--> 
                    <div class="content">
                        <div class="item">
                            <h3 class="title">Undergraduate Teaching Assistant <span class="place"><a href="http://www.csd.uoc.gr">Computer Science Department in UOC</a></span> <span class="year">(Sep 2015 – Jan 2016)</span></h3>
                            <p>Undergraduate Teaching Assistant at "Introduction to Computer Science" during my fourth year at Computer Science Department of University of Crete, Heraklion (Greece)<br>Applied thanks to the program "TheProfit" which allows to the best undergraduate students of the department to help University’s academic work.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Intership <span class="place"><a href="https://www.forth.gr/">Foundation for Research and Technology - Hellas (FORTH)</a></span> <span class="year">(Jun 2015 – Aug 2015)</span></h3>
                            <p>Research in Big Data System Utilities. In particular, developing in Hadoop Ecosystem, HBase, Apache Phoenix, Spark. Also methods for accelerating calculations in distributed systems as Data Centers.</p>
                        </div><!--//item-->
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </section><!--//section-->
            
            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Projects</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title">ImagInLexis</h3>
                            <p class="summary">Employed to develop a desktop application as a part of a bachelor thesis in Logotherapy. Application's main functionality is to enrich a speech therapy intervention plan through a number of tests that the patient has to complete.</p>
                            <p><a class="more-link" href={{imageInLexis}} download="ImagInLexis.zip" target="_blank"><i class="fa fa-external-link"></i>Download</a></p>

                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">ICE Editor</h3>
                            <p class="summary">The project is a website application which allows a regular user to program IOT (Internet Of Things) devices. It is an editor which prevents the user to have compile even runtime (as possible) errors. The user can drop & drop elements or edit values. It provides an abstract API to create your own program quickly via javascript command or json files. It is written basically in javascript.</p>
                            <p><a class="more-link" href={{iceEditor}} target="_blank"><i class="fa fa-external-link"></i>See it here</a></p>

                        </div><!--//item-->
                        <!--
                        <a class="btn btn-cta-secondary" id="moreProjects" disabled href="#">More<i class="fa fa-chevron-right"></i></a>
                        -->
                    </div>
                </div>
            </section>
            
            <section class="education section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>Msc in High Performance Computing with Data Science (Sep 2018 – now)
                                <a href="https://www.ed.ac.uk//" class="university">University of Edinburgh, Edinburgh (UK)</a>
                            </h3>
                            <ul>
                                <li>
                                    School of Informatics
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>Bachelor in Computer Science (Sep 2012 – Jul 2016)
                                <a href="https://www.forth.gr/" class="university">University of Crete, Heraklion (Greece)</a>
                            </h3>
                            <ul>
                                <li>
                                    Grade: 8.4/10 
                                </li>
                                <li>
                                    Thesis: <a href={{iceEditor}}>ICE Editor</a> is a <strong>visual programming language</strong> for end-user programmers for IOT devices.
                                    <br><a href={{iceEditor}}>ICE Editor</a> is a web client application written in JavaScript.
                                </li>
                                <li>
                                    Awards: <strong>3 years</strong> in a row awarded with the <strong>memorial scholarship "Stelios Orfanoudakis"</strong>.
                                    <br>This scholarship is given to the top 3 students of the Computer Science department each year.
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>IT Essentials: PC Hardware and Software (Aug 2011)<a class="university">Cisco Network Academy, Chania (Greece)</a></h3>
                            <p></p>
                        </div>
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>ICT Intermediate (Sep 2010)<a class="university">ICT Europe, Chania (Greece)</a></h3>
                            <p></p>
                        </div>
                        <div class="item">
                            <h3 class="title"> <i class="fa fa-graduation-cap"></i>High School (2009 - 2012)<a class="university">Third General School Of Chania, Chania (Greece)</a></h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-venus-mars"></i><span class="sr-only">Sex:</span>Male</li>
                            <li><i class="fa fa-birthday-cake"></i><span class="sr-only">Birthday:</span>18 April 1994</li>
                            <li><i class="fa fa-flag"></i><span class="sr-only">Nationality:</span>Greek</li>
                        </ul>
                    </div>
                </div>
            </aside>

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span><a href="https://www.google.gr/maps/place/%CE%92%CF%81%CF%8D%CF%83%CE%B5%CF%82+730+07/@35.3748967,24.1903459,15z/data=!3m1!4b1!4m5!3m4!1s0x149b7e837371828f:0xdc8df01429f88e03!8m2!3d35.3750852!4d24.2012676">Athens,Greece</a></li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">nikosxenakis94@gmail.com</a></li>
                            <li><i class="fa fa-skype"></i><span class="sr-only">Skype:</span>xenis656</li>
                        </ul>
                    </div><!--//content-->  
                </div><!--//section-inner-->
            </aside><!--//aside-->
            
            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro"></p>
                        
                        <div class="skillset">
                            <div class="item">
                                <h3 class="level-title">C/C++<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:90%;">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:80%;">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">JavaScript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:90%;">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">HTML , CSS , PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Good</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width:75%;">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            <p><a class="more-link" href="https://www.linkedin.com/in/nikos-xenakis-875811109/"><i class="fa fa-external-link"></i> More on Linkedin</a></p> 
                        </div>              
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->
            
            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>Greek:</strong></span>
                                <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                            </li>
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>
                                <span class="level">Advanced Level <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container text-right">
            <small class="copyright">@Copyrights Nikos Xenakis</small>
    </div>
</footer>