/* ======= Base ======= */
:root {
  --secondary-color: #6d757d;
  --background-color: #7b8d6c;
  --container-background-color: #e4e4e4;
  --link-color: #65864a;
  --link-hover-color: #6b9a44;
  --font-size: 16px;
  --border-radius: 4px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("TrueType");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("TrueType");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("TrueType");
  font-style: italic;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background: var(--background-color);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.technology {
  color: black !important;
  background-color: #d6e0ce !important;
  margin-right: 5px;
  border-radius: 5px;
  margin-right: 2px;
}

.cvModal {
  /* width: 90vw; */
  /* max-width: 90vw; */
  max-width: 90%;
  /* height: 70%; */
}

.cvModal .modal-content {
  width: 800px;
  height: 1190px;
}

.cvModal .modal-content iframe {
  height: 100%;
}

.text-highlight {
  color: #32383e;
}

.container {
  max-width: 100%;
}

/* ======= Header ======= */
.header {
  background: var(--container-background-color);
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.header .avatar,
.header .resume {
  display: flex;
  align-items: center;
}

.header .resume {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--link-color);
  /* border: 2px solid var(--link-color); */
  /* border-radius: 10px; */
  display: flex;
  width: 110px;
  border: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header .resumeTitle {
  text-align: center;
}

.header .avatar img {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 30px;
}

.header .profile-image {
  margin-right: 30px;
}

.header .profile-content .name {
  font-size: 32px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .title {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 15px;
}

.header .profile-content .social.list-inline {
  display: inline-flex;
}

.header .profile-content .social svg,
.header .resume svg {
  width: 36px;
  height: 36px;
}

.header .profile-content .social svg:hover,
.header .resume svg:hover {
  cursor: pointer;
}

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  margin-bottom: 30px;
  animation: fade-in 0.4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.section .section-inner {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 1000px;
  min-height: 240px;
}

.section .section-inner.small {
  max-width: 500px;
}

.section .heading {
  margin-bottom: 30px;
  font-size: 24px;
  animation: slide 1s;
}

@keyframes slide {
  from {
    margin-left: 40px;
    opacity: 0;
  }

  to {
    margin-left: inherit;
    opacity: 100;
  }
}

.section .content {
  animation: fade-in 1s;
}

.section .item {
  margin-bottom: 30px;
}

.section .item .itemHeader {
  display: inline-flex;
  width: 100%;
}

.section .item .itemHeaderLeft {
  min-width: 200px;
}

.section .item .itemHeaderRight {
  min-width: 140px;
  text-align: right;
}

.section .item .title {
  font-size: 17px;
  margin-bottom: 0px;
}

.section .item .title a {
  color: black;
  font-weight: bold;
}

.section .item .company {
  font-size: 15px;
  font-weight: normal;
}

.section .item .company a {
  color: black;
}

.section .item .place {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0px;
}

.section .item .year {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
}

.section .small .item {
  margin-bottom: 10px;
}

.section .item .description {
  font-size: 14px;
}

.section .item .technologies .title {
  font-weight: 600;
}

/* Work Section */
.experience .item .title .place a:hover {
  color: var(--link-hover-color);
}

/* Info Section */
.info li {
  margin-bottom: 15px;
}

/* Skills Section */
.skills .intro {
  margin-bottom: 30px;
}

.skills .small .item {
  margin-bottom: 30px;
}

.skills .skillset .level-title {
  font-size: 14px;
  position: relative;
  margin-top: 0;
}

.skills .skillset .level-label {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
}

.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}

.skills .skillset .level-bar-inner {
  height: 15px;
  background: var(--link-color);
}

/* Education section */
.education .item .title {
  font-size: 16px;
  margin-top: 0;
}

/* Language Section */
.languages .item .level {
  color: var(--secondary-color);
}

.languages .item .level svg {
  color: var(--link-color);
}

.list-inline {
  list-style: none;
  display: flex;
}

.list-inline li {
  margin-right: 5px;
}

/* List section */
.list ul li {
  margin-bottom: 10px;
}

.list ul li a {
  color: var(--secondary-color);
}

/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}

.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

.footer a {
  color: #fff;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }

  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }

  .header .profile-content {
    float: none !important;
    text-align: center;
  }

  .header .btn {
    margin-top: 30px;
    float: none !important;
  }

  .project-image {
    margin-bottom: 15px;
  }

  .section .item .itemHeaderRight {
    text-align: left;
  }

}

/* @media (min-width: 1200px) {
  .section .section-inner {
    max-width: unset;
  }
} */

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */